@import 'vars';
@import 'global';
@import 'fonts';

// header ----------------------------/
.header {
	background-color: #000;
	&__wrapper {
		background-image: url(../images/header-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		// min-height: 812px;
		padding: 103px 0 90px;
	}
	&__inner {
		text-align: center;
	}
	&__subtitle  {
		font-size: 18px;
		letter-spacing: 3px;		 
	}
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 62px;
		line-height: 91px;
		margin-top: 106px;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__title-mob {
		display: none;
		font-family: 'Open Sans';
		font-weight: 700;
		font-size: 38px;
		line-height: 38px;
		text-transform: uppercase;
		span {
			color: #b12f2f;
		}
	}
	&__descr {
		font-size: 22px;
		margin-top: 259px;
	}
	&__question {
		font-family: 'Open Sans', sans-serif;
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		margin-top: 5px;
		text-transform: uppercase;
	}
	&__form {
		margin-top: 24px;
	}
}
// form ---/
.form {
	display: flex;
	justify-content: center;
	&__name {
		max-width: 204px;
		width: 100%;
		position: relative;
		height: 50px;
		&::after {
			content: '';
			width: 1px;
			background-color: #c0c0c0;
			height: 30px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
		&-input {
			width: 100%;
			padding: 0 15px 0 30px;
			height: 100%;
			border: none;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			background-color: #fff;
			&::placeholder {
				font-size: 16px;
				color: #4d4d4d;
			}
		}
	}
	&__mail {
		max-width: 200px;
		width: 100%;
		position: relative;
		height: 50px;
		&::after {
			content: '';
			width: 1px;
			background-color: #c0c0c0;
			height: 30px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
		&-input {
			width: 100%;
			padding: 0 15px 0 28px;
			height: 100%;
			border: none;
			background-color: #fff;
			&::placeholder {
				font-size: 16px;
				color: #4d4d4d;
			}
		}
	}
	&__tel {
		max-width: 246px;
		width: 100%;
		position: relative;
		height: 50px;
		&-input {
			width: 100%;
			padding: 0 15px 0 21px;
			height: 100%;
			border: none;
			background-color: #fff;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			&::placeholder {
				font-size: 16px;
				color: #4d4d4d;
			}
		}
	}
	&__submit {
		background-color: #b12f2f;
		padding: 0 50px 0 40px;
		height: 50px;
		border: none;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #fff;
	}
}
// ---/


// section questions -------------------------/
.questions {	
	padding: 76px 0 0 0;
	&__items {
		padding-bottom: 80px;
		display: flex;
		justify-content: space-between;
		max-width: 1120px;
		margin: 0 auto;
	}
	&__item {
		max-width: 320px;
		text-align: center;
		font-size: 17px;
		line-height: 27px;
		position: relative;
	}
	&__text {
		position: relative;
		z-index: 1;
	}
	&__text-bg {
		&::after {
			content: '?';
			font-family: 'Open Sans', sans-serif;
			font-size: 200px;
			position: absolute;
			z-index: 0;
			left: 50%;
			bottom: 40px;
			color: #1a1a1a;
			transform: translateX(-50%);
		}
	}
	&__content {
		background-image: url(../images/questions-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 850px;
		padding-top: 235px;
		text-align: center;
	}
	&__title {
		font-size: 41px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		max-width: 1036px;
		text-align: center;
		line-height: 60px;
		margin: 0 auto 29px auto;
		text-transform: uppercase;
	}
	&__subtitle {
		font-size: 29px;
	}
	&__subtitle-mod {
		color: #b12f2f;
	}
	&__box {
		height: 120px;
		background-image: url(../images/questions-border.png);
		position: relative;
		margin-bottom: 154px;
	}
	&__box-text {
		position: absolute;
		font-size: 19px;
		top: -12px;
		left: 20px;
		width: 100%;
		letter-spacing: 0.5px;
	}
	&__box-items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		padding-top: 16px;
	}
	&__box-item {
		font-size: 20px;
		font-weight: 700;
		position: relative;
		padding-left: 46px;
		&::before {
			content: '';
			background-image: url(../images/icons/questions-icon.png);
			position: absolute;
			width: 35px;
			height: 35px;
			left: 0;
			bottom: 0;
		}
	}
	&__box-item--right {
		padding-left: 0;
		padding-right: 46px;
		&::before {
			left: auto;
			right: 0;
			transform: scale(-1, 1);
		}
	}
	&__descr {
		font-size: 32px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
}


// section advantages ----------------/
.advantages {
	padding-bottom: 77px;
	&__box {
		position: relative;
		padding: 80px 0 41px;
	}
	&__img {
		position: absolute;
		top: -46px;
		left: 29px;
	}
	&__info {
		padding-left: 530px;
	}
	&__title {
		font-size: 35px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 51px;
		margin-bottom: 64px;
	}
	&__item {
		padding-left: 29px;
		font-size: 20px;
		margin-bottom: 26px;
		display: block;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
			background-image: url(../images/icons/advantages-icon.png);
		}
	}
	&__bottom {
		background-image: url(../images/advantages-border.png);
		background-repeat: no-repeat;
		text-align: center;
		max-width: 1170px;
		margin: 0 auto;
		padding: 32px 0 35px;
		margin-bottom: 70px;
	}
	&__bottom-title {
		font-size: 27px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 31px;
	}
	&__text {
		font-size: 18px;
		line-height: 28px;
		max-width: 724px;
		margin: 0 auto;
	}
	&__quote {
		text-align: center;
		font-size: 24px;
		position: relative;
		&::before {
			content: '“';
			font-size: 80px;
			color: #b12f2f;
			position: absolute;
			top: -44px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__quote-top {
		display: block;
		font-size: 25px;
		letter-spacing: 1px;
		font-style: italic;
		margin-bottom: 14px;
		color: #b12f2f;
	}
}


// section program -------------------/
.program {
	background-image: url(../images/program-bg.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 151px;
	padding-bottom: 70px;
	text-align: center;
	&__title {
		max-width: 760px;
		margin: 0 auto;
		font-size: 42px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin-bottom: 113px;
	}
	&__items-top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&__items-bottom {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&__item {
		max-width: 223px;
		font-size: 20px;
		font-weight: 700;
		margin: 0 30px 84px;
		letter-spacing: 1px;
		position: relative;
		transition: all 0.2s;
		cursor: default;
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 17px;
			height: 17px;
			transition: all 0.2s;
			background-image: url(../images/program-focus.svg);
		}
		&::before {
			top: -20px;
			left: -20px;
		}
		&::after {
			bottom: -15px;
			right: -15px;
			transform: scale(-1, -1);
		}
		&:hover {
			transform: scale(1.1);
			&::before {
				transform: translate(20px, 20px);
			}
			&::after {
				transform: scale(-1, -1) translate(15px, 15px);
			}
		}
	}
	&__item--big {
		max-width: 300px;
	}
	&__subtitle {
		margin-top: 8px;
		margin-bottom: 22px;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;

	}
}


// section slider --------------------/
.slider {
	text-align: center;
	padding: 94px 0 70px;
	&__title {
		font-size: 42px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__box {
		max-width: 970px;
		margin: 0 auto 20px auto;
	}
	&__item {
		position: relative;
		max-width: 970px;
	}
	&__img-box {
		display: flex;
	}
	&__descr {
		position: absolute;
		top: 36px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__before {
		width: 115px;
		height: 45px;
		background-color: #0b0b0b;
		display: inline-block;
		padding-top: 10px;
	}
	&__after {
		width: 115px;
		height: 45px;
		background-color: #b12f2f;
		display: inline-block;
		margin-left: -4px;
		padding-top: 10px;
	}
	&__info {
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		&-name {
			display: block;
			font-size: 23px;
			margin-bottom: 3px;
		}
		&-flow {
			display: block;
			font-size: 15px;
		}
	}
	&__review {
		font-size: 18px;
		margin-bottom: 24px;
	}
	&__link {
		font-size: 14px;
		color: #b12f2f;
		padding-right: 13px;
		position: relative;
		&::after {
			content: '';
			width: 8px;
			height: 5px;
			position: absolute;
			right: 0;
			background-image: url(../images/icons/arrow-link.png);
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.slick {
	&-list {
		margin: 0 -15px;
	}
	&-slide {
		padding: 0 15px;
	}
	&-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-15%);
		z-index: 1;
		background-color: transparent;
		border: none;
	}
	&-prev {
		left: -106px;
	}
	&-next {
		right: -106px;
		transform: translateY(-15%) scale(-1, 1);
	}
}


// section gallery -------------------/
.gallery {
	background-image: url(../images/gallery-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 66px;
	text-align: center;
	padding-top: 67px;
	&__title {
		font-size: 42px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin-bottom: 99px;
		span {
			display: block;
			letter-spacing: 1px;
			line-height: 60px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 840px;
		margin: 0 auto;
	}
	&__top-items {
		display: flex;
	}
	&__bottom-items {
		display: flex;
	}
	&__item {
		margin: 5px;
		max-width: 172px;
	}
	&__img {
		display: block;
	}
}


// section baduk ---------------------/
.baduk {
	min-height: 785px;
	&__inner {
		position: relative;
	}
	&__img {
		position: absolute;
		left: 0;
		top: 3px;
	}
	&__info {
		padding: 50px 0 50px 374px;
		display: flex;
		align-items: flex-end;

	}
	&__name {
		font-size: 88px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	&__name-bottom {
		display: block;
		padding-left: 50px;
		line-height: 87px;
	}
	&__descr {
		padding: 0 0 8px 30px;
		max-width: 377px;
		font-size: 19px;
		line-height: 25px;
		position: relative;
		&::before {
			content: '';
			width: 66px;
			height: 14px;
			position: absolute;
			top: -35px;
			left: 28px;
			background-color: #fff;
		}
	}
	&__list {
		max-width: 666px;
		margin-left: auto;
		margin-bottom: 50px;
	}
	&__item {
		display: block;
		padding-left: 37px;
		font-size: 17px;
		line-height: 30px;
		position: relative;
		max-width: 645px;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/icons/cup.png);
			left: 0;
			top: 50%;
			width: 23px;
			height: 20px;
			transform: translateY(-50%);
		}
	}
	&__btn-wrap {
		max-width: 666px;
		margin-left: auto;
	}
	&__btn {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.5px;
		padding: 16px 37px;
		background-color: #b12f2f;
	}
}


// section trainers ------------------/
.trainers {
	position: relative;
	padding: 113px 0 43px;
		&__title {
		font-size: 32px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		top: -41px;
		left: 0;
		right: 0;
	}
	&__title-bottom {
		display: block;
		font-size: 40px;
		line-height: 53px;
		color: #b12f2f;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-left: 30px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		padding-right: 15px;
	}
	&__img {
		width: 270px;
		height: 290px;
	}
	&__info {
		max-width: 265px;
		margin-left: 33px;
		font-size: 18px;
	}
	&__info--width {
		max-width: 297px;
		font-size: 15px;
	}
	&__name-block {
		font-size: 29px;
		font-weight: 700;
		margin-top: -10px;
		line-height: 50px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
	}
	&__name {
		display: block;
	}
}


// section regstration ---------------/
.registration {
	background-image: url(../images/registration-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 151px 0 90px;
	margin-bottom: 87px;
	&__subtitle {
		font-size: 20px;
		line-height: 28px;
		font-style: italic;
		text-align: center;
		max-width: 1065px;
		margin: 0 auto;
		letter-spacing: 1px;
		margin-bottom: 142px;
		position: relative;
		&::before {
			content: '“';
			position: absolute;
			left: 0;
			right: 0;
			top: -13px;
			font-size: 80px;
			color: #b12f2f;
			font-style: normal;
		}
	}
	&__title {
		max-width: 867px;
		text-align: center;
		margin: 0 auto;
		font-size: 32px;
		line-height: 38px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin-bottom: 29px;
		&-top-line {
			display: block;
		}
	}
}


// section about ---------------------/
.about {
	background-image: url(../images/about-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 71px;
	padding-bottom: 61px;
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 50px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 77px;
		&-num {
			color: #b12f2f;
		}
	}
	&__table-wrap {
		min-height: 763px;
		background-image: url(../images/about-table.png);
		background-repeat: no-repeat;
		background-position: top left;
		margin: 0 -25px;
		padding: 36px 41px 0 37px;
		position: relative;
	}
	&__table {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		width: 33.3333%;
		position: relative;
		min-height: 68px;
		margin-bottom: 133px;
		&::before {
			content: '';
			width: 44px;
			height: 44px;
			position: absolute;
			top: -58px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(../images/icons/about-icon.png);
		}
	}
	&__item--not-icon {
		position: absolute;
		bottom: 107px;
		left: 50%;
		transform: translateX(-50%);
		max-width: 700px;
		width: 100%;
		margin-bottom: 0;
		letter-spacing: 0.5px;
		&::before {
			display: none;
		}
	}
	&__btn {
		padding: 15px 54px 14px 58px;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #b12f2f;
		color: #fff;
		border: none;
	}
}


// footer ----------------------------/
.footer {
	background-image: url(../images/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 55px;
	overflow-x: hidden;
	&__title {
		font-size: 41px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		max-width: 710px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 119px;
	}
	&__item-title {
		font-size: 51px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 40px;
	}
	&__item-line {
		display: block;
		text-align: center;
		font-size: 25px;
		line-height: 32px;
	}
	.slick-list {
		margin-bottom: 114px;
	}
	.slick-dots {
		text-align: center;
		li {
			margin: 0 22px;
			button {
				font-family: 'Open Sans', sans-serif;
				font-size: 41px;
				font-weight: 700;
				color: #fff;
				background-color: transparent;
				border: none;
				padding: 0;
			}
			&.slick-active {
				button {
					color: #b12f2f;
				}
			}
		}
	}
}











@import 'media';