@import 'vars';
@import 'global';
@import 'fonts';

// header ----------------------------/
.header {
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	min-height: 812px;
	padding: 103px 0 90px;
	&__inner {
		text-align: center;
	}
	&__subtitle  {
		font-size: 18px;
		letter-spacing: 3px;		 
	}
	&__title {
		font-family: 'Stampbor', sans-serif;
		font-size: 91px;
		line-height: 91px;
		margin-top: 102px;
	}
	&__descr {
		font-size: 22px;
		margin-top: 259px;
	}
	&__question {
		font-family: 'Stampbor', sans-serif;
		font-size: 45px;
		line-height: 45px;
		margin-top: 5px;
	}
	&__form {
		margin-top: 24px;
	}
}
// form ---/
.form {
	display: flex;
	justify-content: center;
	&__name {
		max-width: 204px;
		width: 100%;
		position: relative;
		height: 50px;
		&::after {
			content: '';
			width: 1px;
			background-color: #c0c0c0;
			height: 30px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
		&-input {
			width: 100%;
			padding: 0 15px 0 30px;
			height: 100%;
			border: none;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			background-color: #fff;
			&::placeholder {
				font-size: 16px;
				color: #4d4d4d;
			}
		}
	}
	&__mail {
		max-width: 200px;
		width: 100%;
		position: relative;
		height: 50px;
		&::after {
			content: '';
			width: 1px;
			background-color: #c0c0c0;
			height: 30px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
		&-input {
			width: 100%;
			padding: 0 15px 0 28px;
			height: 100%;
			border: none;
			background-color: #fff;
			&::placeholder {
				font-size: 16px;
				color: #4d4d4d;
			}
		}
	}
	&__tel {
		max-width: 246px;
		width: 100%;
		position: relative;
		height: 50px;
		&-input {
			width: 100%;
			padding: 0 15px 0 21px;
			height: 100%;
			border: none;
			background-color: #fff;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			&::placeholder {
				font-size: 16px;
				color: #4d4d4d;
			}
		}
	}
	&__submit {
		background-color: #b12f2f;
		padding: 0 50px 0 40px;
		height: 50px;
		border: none;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #fff;
	}
}
// ---/


// section questions -------------------------/
.questions {	
	padding: 76px 0 74px;
	&__items {
		padding-bottom: 80px;
		display: flex;
		justify-content: space-between;
		max-width: 1120px;
		margin: 0 auto;
	}
	&__item {
		max-width: 320px;
		text-align: center;
		font-size: 17px;
		line-height: 27px;
		position: relative;
	}
	&__text {
		position: relative;
		z-index: 1;
	}
	&__text-bg {
		&::after {
			content: '?';
			font-family: 'Stampbor', sans-serif;
			font-size: 200px;
			position: absolute;
			z-index: 0;
			left: 50%;
			bottom: 40px;
			color: #1a1a1a;
			transform: translateX(-50%);
		}
	}
	&__content {
		background-image: url(../images/questions-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		min-height: 850px;
		padding-top: 235px;
		text-align: center;
	}
	&__title {
		font-size: 60px;
		font-family: 'Stampbor', sans-serif;
		max-width: 1036px;
		text-align: center;
		line-height: 60px;
		margin: 0 auto 29px auto;
	}
	&__subtitle {
		font-size: 45px;
	}
	&__subtitle-mod {
		color: #b12f2f;
	}
	&__box {
		height: 120px;
		background-image: url(../images/questions-border.png);
		position: relative;
		margin-bottom: 145px;
	}
	&__box-text {
		position: absolute;
		font-size: 19px;
		top: -12px;
		left: 20px;
		width: 100%;
		letter-spacing: 0.5px;
	}
	&__box-items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		padding-top: 16px;
	}
	&__box-item {
		font-size: 20px;
		font-weight: 700;
		position: relative;
		padding-left: 46px;
		&::before {
			content: '';
			background-image: url(../images/icons/questions-icon.png);
			position: absolute;
			width: 35px;
			height: 35px;
			left: 0;
			bottom: 0;
		}
	}
	&__box-item--right {
		padding-left: 0;
		padding-right: 46px;
		&::before {
			left: auto;
			right: 0;
			transform: scale(-1, 1);
		}
	}
	&__descr {
		font-size: 45px;
		font-family: 'Stampbor', sans-serif;
		margin-bottom: 19px;
	}
}
 
@import 'media';